@font-face {
  font-family: "Akronim", cursive;
  src: url("./fonts/Akronim-Regular.ttf");
}
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #444;
  font-weight: normal;
  line-height: 1.4;
}

/*
mobile 320px, tablet 767px, desktop 104px
*/

.color-icons {
  color: whitesmoke;
}

Main img {
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
}

.app-header {
  background-color: grey;
  min-width: 300px;
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

.app-logo {
  display: inline-block;
}

.app-logo img {
  width: 160px;
}

/* a:link, a:visited, a:active, a:hover */

.app-navigation {
  float: right;
}

.app-navigation a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

.app-navigation a:hover {
  color: purple;
}

.app-navigation-drawer {
  /*hide nav on load*/

  display: block;
  list-style: none;
  background-color: #444;
  padding: 0.5em;
  border-bottom: 2px solid grey;
  /* animate: default state on page load */
  transition: all 0.4s linear;
  transform: translateX(150px);
  line-height: 30px;
  height: 1000px;
}
.sr-only {
  display: none;
}

#hamburger-menu {
  /* hide checkbox */
  display: none;
}
#hamburger-menu:checked ~ .app-navigation-drawer {
  /*show nav :cheched:*/
  display: block;
  /* animate into page show state */
  transform: translateX(0);
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0;
}

form {
  background-color: transparent;
}

form fieldset {
  border: 2px solid purple;
  padding: 0.5em 1em 1em 1em;
  background-color: whitesmoke;
}

form fieldset legend {
  font-style: italic;
  font-size: 2em;
}

form label {
  display: block;
}

.input-text {
  border: 1px solid black;
  padding: 0.2em;
  color: #444;
  border-radius: 6px;
  width: 98%;
}

.input-text-area {
  border-radius: 6px;
}
input[type="submit"] {
  background-color: 444;
  width: 98%;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: purple;
}

.footer {
  background-color: grey;
  color: whitesmoke;
  padding: 1em;
}
.footer .column {
  display: block;
  width: 95%;
}

@media screen and (min-width: 767px) {
  body {
    background-color: whitesmoke;
  }

  .app-navigation {
  }

  .app-navigation-drawer {
    transform: translateX(0);
    height: 25px;
    background: transparent;
    border-bottom: none;
  }
  .app-navigation-drawer li {
    display: inline-block;
  }

  .fa-bars {
    display: none;
  }

  .app-article {
    display: inline-block;
    width: 59%;
  }

  .app-sidebar {
    display: inline-block;
    width: 35%;
    vertical-align: top;
  }
  .footer .column {
    display: inline-block;
    width: 20%;
  }
} /* desktop ends here */
